{"openapi":"3.0.0","info":{"title":"api_v1","description":"","version":"0.0.1"},"servers":[{"url":"https://xdu3-rie9-fmus.n7e.xano.io/api:vaD0ih6J"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"paths":{"/activity_log":{"get":{"operationId":"api_v1/activity_log|GET","summary":"Query all activity_log records","description":"Query all activity_log records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["activity_log"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"page","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"filters","in":"query","description":"","required":false,"schema":{"type":"object","properties":{"search":{"type":"string","description":""},"user":{"type":"integer","format":"int64","description":""}},"default":{}}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"integer","format":"int64","description":""},"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"offset":{"type":"integer","format":"int64","description":""},"perPage":{"type":"integer","format":"int64","description":""},"itemsTotal":{"type":"integer","format":"int64","description":""},"pageTotal":{"type":"integer","format":"int64","description":""},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"user_id":{"type":"integer","format":"int64","description":""},"event_type":{"type":"string","description":""},"entity_type":{"type":"string","description":""},"entity_id":{"type":"integer","format":"int64","description":""},"message":{"type":"string","description":""},"RawData":{"type":"object","description":"","nullable":true},"_user":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"full_name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email","nullable":true},"account_id":{"type":"integer","format":"int64","description":"Reference to the company the user belongs to."},"Last_Login":{"type":"number","format":"timestamptz","description":"","nullable":true},"updated_at":{"type":"number","format":"timestamptz","description":""},"current_tenant":{"type":"integer","format":"int64","description":""},"Avatar":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""},"url":{"type":"string","description":"","nullable":true}},"nullable":true},"password_reset":{"type":"object","properties":{}}},"nullable":true}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/component/bulk-import":{"post":{"operationId":"api_v1/component/bulk-import|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["component"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"csv_file":{"type":"string","format":"binary","description":"CSV file containing component data"},"csv_file2":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""}},"required":["path","name","type","size","mime","meta"],"nullable":true}},"required":["csv_file2"]}}}}}},"/component/groups/":{"get":{"operationId":"api_v1/component/groups/|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["component"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"Name":{"type":"string","description":""},"Code":{"type":"string","description":""},"Description":{"type":"string","description":""},"tenant_id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/component/{component_id}/adjust-stock":{"post":{"operationId":"api_v1/component/{component_id}/adjust-stock|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["component"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"component_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"result1":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"sku":{"type":"string","description":""},"name":{"type":"string","description":""},"description":{"type":"string","description":""},"component_group_id":{"type":"integer","format":"int64","description":""},"unit_of_measure":{"type":"string","description":""},"cost_per_unit":{"type":"number","description":""},"no_depreciate":{"type":"boolean","description":"","default":"false"},"default_location_id":{"type":"integer","format":"int64","description":""},"reorder_point":{"type":"number","description":""},"preferred_supplier":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"deleted":{"type":"boolean","description":"","default":"false"},"deleted_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"restored_at":{"type":"number","format":"timestamptz","description":"","nullable":true}}}},"b":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"component_id":{"type":"integer","format":"int64","description":""},"location_id":{"type":"integer","format":"int64","description":""},"on_hand_qty":{"type":"number","description":""},"in_progress_qty":{"type":"number","description":""},"shipped_qty":{"type":"number","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"location_id":{"type":"integer","format":"int64","description":""},"quantity_delta":{"type":"integer","format":"int64","description":""},"reason_code":{"type":"string","description":""},"note":{"type":"string","description":""},"type":{"type":"string","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"location_id":{"type":"integer","format":"int64","description":""},"quantity_delta":{"type":"integer","format":"int64","description":""},"reason_code":{"type":"string","description":""},"note":{"type":"string","description":""},"type":{"type":"string","description":""}}}}}}}},"/component/{component_id}/bom-usage":{"get":{"operationId":"api_v1/component/{component_id}/bom-usage|GET","summary":"Retrieves a list of products and variants that use a specific component, filtered by the current tenant.","description":"Retrieves a list of products and variants that use a specific component, filtered by the current tenant.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["component"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"component_id","in":"path","description":"The ID of the component to search for","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"product_bom_id":{"type":"integer","format":"int64","description":""},"component_id":{"type":"integer","format":"int64","description":""},"quantity_per_unit":{"type":"number","description":""},"sort_order":{"type":"integer","format":"int64","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"_product_bom_of_shopify_variant":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_variant_id":{"type":"integer","format":"int64","description":""},"version":{"type":"integer","format":"int64","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"notes":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"created_by_user_id":{"type":"integer","format":"int64","description":""},"deleted":{"type":"boolean","description":"","default":"false"},"_shopify_variant":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_product_id":{"type":"integer","format":"int64","description":""},"shopify_variant_id":{"type":"integer","format":"int64","description":""},"sku":{"type":"string","description":""},"title":{"type":"string","description":""},"price":{"type":"number","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"lead_time":{"type":"integer","format":"int64","description":""},"_shopify_product":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_store_id":{"type":"integer","format":"int64","description":""},"shopify_product_id":{"type":"integer","format":"int64","description":""},"title":{"type":"string","description":""},"handle":{"type":"string","description":""},"status":{"type":"string","description":""},"iamge_url":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""}},"nullable":true}},"nullable":true}},"nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/component/{component_id}":{"get":{"operationId":"api_v1/component/{component_id}|GET","summary":"Get component record","description":"Get component record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["component"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"component_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"sku":{"type":"string","description":""},"name":{"type":"string","description":""},"description":{"type":"string","description":""},"component_group_id":{"type":"integer","format":"int64","description":""},"unit_of_measure":{"type":"string","description":""},"cost_per_unit":{"type":"number","description":""},"no_depreciate":{"type":"boolean","description":"","default":"false"},"default_location_id":{"type":"integer","format":"int64","description":""},"reorder_point":{"type":"number","description":""},"preferred_supplier":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"deleted":{"type":"boolean","description":"","default":"false"},"deleted_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"restored_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"_inventory_balance_of_component":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"component_id":{"type":"integer","format":"int64","description":""},"location_id":{"type":"integer","format":"int64","description":""},"on_hand_qty":{"type":"number","description":""},"in_progress_qty":{"type":"number","description":""},"shipped_qty":{"type":"number","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"_location":{"type":"object","properties":{"name":{"type":"string","description":""}},"nullable":true}},"nullable":true}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/component_group/{component_group_id}":{"delete":{"operationId":"api_v1/component_group/{component_group_id}|DELETE","summary":"Delete component_group record.","description":"Delete component_group record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["component_group"],"security":[],"parameters":[{"name":"component_group_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"api_v1/component_group/{component_group_id}|GET","summary":"Get component_group record","description":"Get component_group record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["component_group"],"security":[],"parameters":[{"name":"component_group_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"Name":{"type":"string","description":""},"Code":{"type":"string","description":""},"Description":{"type":"string","description":""},"tenant_id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"api_v1/component_group/{component_group_id}|PATCH","summary":"Edit component_group record","description":"Edit component_group record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["component_group"],"security":[],"parameters":[{"name":"component_group_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"Name":{"type":"string","description":""},"Code":{"type":"string","description":""},"Description":{"type":"string","description":""},"tenant_id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"Name":{"type":"string","description":""},"Code":{"type":"string","description":""},"Description":{"type":"string","description":""},"tenant_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"Name":{"type":"string","description":""},"Code":{"type":"string","description":""},"Description":{"type":"string","description":""},"tenant_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/component_group":{"get":{"operationId":"api_v1/component_group|GET","summary":"Query all component_group records","description":"Query all component_group records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["component_group"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"Name":{"type":"string","description":""},"Code":{"type":"string","description":""},"Description":{"type":"string","description":""},"tenant_id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"api_v1/component_group|POST","summary":"Add component_group record","description":"Add component_group record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["component_group"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"Name":{"type":"string","description":""},"Code":{"type":"string","description":""},"Description":{"type":"string","description":""},"tenant_id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"Name":{"type":"string","description":""},"Code":{"type":"string","description":""},"Description":{"type":"string","description":""},"tenant_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"Name":{"type":"string","description":""},"Code":{"type":"string","description":""},"Description":{"type":"string","description":""},"tenant_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/component":{"get":{"operationId":"api_v1/component|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["component"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"search","in":"query","description":"","required":false,"schema":{"type":"string","default":""}},{"name":"location_id","in":"query","description":"","required":false,"schema":{"type":"string","default":""}},{"name":"low_stock","in":"query","description":"","required":false,"schema":{"type":"boolean","default":"false"}},{"name":"active","in":"query","description":"","required":false,"schema":{"type":"boolean","default":"false"}},{"name":"limit","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"page","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"no_stock","in":"query","description":"","required":false,"schema":{"type":"boolean","default":null}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"component":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"api_v1/component|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["component"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string","description":"Unique identifier for the component"},"name":{"type":"string","description":"Name of the component"},"description":{"type":"string","description":"Description of the component"},"unit_of_measure":{"type":"string","description":"Unit of measure for the component (e.g., \u0027pcs\u0027, \u0027kg\u0027)"},"default_location_id":{"type":"integer","format":"int64","description":"Default location ID for inventory; must belong to the tenant"},"reorder_point":{"type":"number","description":"Minimum stock level to trigger a reorder"},"preferred_supplier":{"type":"string","description":"Preferred supplier for this component"},"cost_per_item":{"type":"integer","format":"int64","description":"","nullable":true},"no_depreciate":{"type":"boolean","description":"","default":"false"},"modify":{"type":"boolean","description":"","default":"false"},"group":{"type":"integer","format":"int64","description":"","nullable":true}},"required":["sku","name","unit_of_measure"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"sku":{"type":"string","description":"Unique identifier for the component"},"name":{"type":"string","description":"Name of the component"},"description":{"type":"string","description":"Description of the component"},"unit_of_measure":{"type":"string","description":"Unit of measure for the component (e.g., \u0027pcs\u0027, \u0027kg\u0027)"},"default_location_id":{"type":"integer","format":"int64","description":"Default location ID for inventory; must belong to the tenant"},"reorder_point":{"type":"number","description":"Minimum stock level to trigger a reorder"},"preferred_supplier":{"type":"string","description":"Preferred supplier for this component"},"cost_per_item":{"type":"integer","format":"int64","description":"","nullable":true},"no_depreciate":{"type":"boolean","description":"","default":"false"},"modify":{"type":"boolean","description":"","default":"false"},"group":{"type":"integer","format":"int64","description":"","nullable":true}},"required":["sku","name","unit_of_measure"]}}}}}},"/dashboard/alerts":{"get":{"operationId":"api_v1/dashboard/alerts|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["dashboard"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"Low_Stock_Comp":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"sku":{"type":"string","description":"","nullable":true},"name":{"type":"string","description":""},"description":{"type":"string","description":""},"component_group_id":{"type":"integer","format":"int64","description":""},"unit_of_measure":{"type":"string","description":""},"cost_per_unit":{"type":"number","description":""},"no_depreciate":{"type":"boolean","description":"","default":"false"},"default_location_id":{"type":"integer","format":"int64","description":""},"reorder_point":{"type":"number","description":""},"preferred_supplier":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"deleted":{"type":"boolean","description":"","default":"false"},"deleted_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"restored_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"on_hand_qty":{"type":"number","description":"","nullable":true},"in_prod_qty":{"type":"number","description":"","nullable":true},"reorder_qty":{"type":"number","description":"","nullable":true},"supplier":{"type":"string","description":"","nullable":true}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/dashboard/monthly_stats":{"get":{"operationId":"api_v1/dashboard/monthly_stats|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["dashboard"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/dashboard_summary":{"get":{"operationId":"api_v1/dashboard_summary|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["dashboard_summary"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"total_components":{"type":"integer","format":"int64","description":""},"total_products_with_bom":{"type":"integer","format":"int64","description":""},"total_open_orders":{"type":"integer","format":"int64","description":""},"low_stock_components_count":{"type":"integer","format":"int64","description":""},"stock_on_hand_value":{"type":"string"},"stock_in_prod_value":{"type":"string"},"alerts":{"type":"string"},"orders":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_store_id":{"type":"integer","format":"int64","description":""},"shopify_order_id":{"type":"integer","format":"int64","description":""},"order_number":{"type":"string","description":""},"placed_at":{"type":"number","format":"timestamptz","description":""},"financial_status":{"type":"string","description":""},"fulfillment_status":{"type":"string","description":""},"customer_name":{"type":"string","description":""},"currency":{"type":"string","description":""},"total_price":{"type":"number","description":""},"status_internal":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"customer_email":{"type":"string","description":"","format":"email"},"customer_phone":{"type":"string","description":"","nullable":true},"customer_address":{"type":"string","description":"","nullable":true},"variant_title":{"type":"string","description":"","nullable":true},"title":{"type":"string","description":"","nullable":true}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/delete/component":{"post":{"operationId":"api_v1/delete/component|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["delete"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""}}}}}}}},"/deleted/bom":{"get":{"operationId":"api_v1/deleted/bom|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["deleted"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_variant_id":{"type":"integer","format":"int64","description":""},"version":{"type":"integer","format":"int64","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"notes":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"created_by_user_id":{"type":"integer","format":"int64","description":""},"deleted":{"type":"boolean","description":"","default":"false"},"sku":{"type":"string","description":"","nullable":true},"title":{"type":"string","description":"","nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/deleted/components":{"get":{"operationId":"api_v1/deleted/components|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["deleted"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"sku":{"type":"string","description":""},"name":{"type":"string","description":""},"description":{"type":"string","description":""},"component_group_id":{"type":"integer","format":"int64","description":""},"unit_of_measure":{"type":"string","description":""},"cost_per_unit":{"type":"number","description":""},"no_depreciate":{"type":"boolean","description":"","default":"false"},"default_location_id":{"type":"integer","format":"int64","description":""},"reorder_point":{"type":"number","description":""},"preferred_supplier":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"deleted":{"type":"boolean","description":"","default":"false"},"deleted_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"restored_at":{"type":"number","format":"timestamptz","description":"","nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/inventory_movement/{component_id}":{"get":{"operationId":"api_v1/inventory_movement/{component_id}|GET","summary":"Get inventory_movement record","description":"Get inventory_movement record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["inventory_movement"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"component_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"component_id":{"type":"integer","format":"int64","description":""},"location_id":{"type":"integer","format":"int64","description":""},"movement_type":{"type":"string","description":""},"quantity_delta":{"type":"number","description":""},"quantity_after":{"type":"number","description":""},"reference_type":{"type":"string","description":""},"reference_id":{"type":"integer","format":"int64","description":""},"reason_code":{"type":"string","description":""},"note":{"type":"string","description":""},"created_by_user_id":{"type":"integer","format":"int64","description":""},"_user":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"full_name":{"type":"string","description":""}},"nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/location":{"get":{"operationId":"api_v1/location|GET","summary":"Query all location records","description":"Query all location records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["location"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"name":{"type":"string","description":""},"code":{"type":"string","description":""},"is_default":{"type":"boolean","description":"","default":"false"},"is_active":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/orders/{order_id}":{"get":{"operationId":"api_v1/orders/{order_id}|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["orders"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"order_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/order":{"get":{"operationId":"api_v1/order|GET","summary":"Returns a paginated list of orders with internal and Shopify statuses.","description":"Returns a paginated list of orders with internal and Shopify statuses.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["order"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"search","in":"query","description":"Search by order number or customer name","required":false,"schema":{"type":"string","default":""}},{"name":"status_internal","in":"query","description":"Filter by internal status","required":false,"schema":{"type":"string","default":""}},{"name":"component_status","in":"query","description":"Filter by component status (OK, SHORT)","required":false,"schema":{"type":"string","default":""}},{"name":"date_from","in":"query","description":"Filter by placed_at from","required":false,"schema":{"type":"number","format":"timestamptz","default":""}},{"name":"date_to","in":"query","description":"Filter by placed_at to","required":false,"schema":{"type":"number","format":"timestamptz","default":""}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int64","default":"1"}},{"name":"per_page","in":"query","description":"Items per page","required":false,"schema":{"type":"integer","format":"int64","default":"20"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"integer","format":"int64","description":""},"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"offset":{"type":"integer","format":"int64","description":""},"perPage":{"type":"integer","format":"int64","description":""},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_store_id":{"type":"integer","format":"int64","description":""},"shopify_order_id":{"type":"integer","format":"int64","description":""},"order_number":{"type":"string","description":""},"placed_at":{"type":"number","format":"timestamptz","description":""},"financial_status":{"type":"string","description":""},"fulfillment_status":{"type":"string","description":""},"customer_name":{"type":"string","description":""},"currency":{"type":"string","description":""},"total_price":{"type":"number","description":""},"status_internal":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"customer_email":{"type":"string","description":"","format":"email"},"customer_phone":{"type":"string","description":"","nullable":true},"customer_address":{"type":"string","description":"","nullable":true}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/product-boms/{bom_id}":{"patch":{"operationId":"api_v1/product-boms/{bom_id}|PATCH","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["product-boms"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"bom_id","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"notes":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"notes":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"}}}}}}}},"/product_bom_component/{bom_id}":{"post":{"operationId":"api_v1/product_bom_component/{bom_id}|POST","summary":"Add product_bom_component record","description":"Add product_bom_component record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["product_bom_component"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"product_bom_id":{"type":"integer","format":"int64","description":""},"component_id":{"type":"integer","format":"int64","description":""},"quantity_per_unit":{"type":"number","description":""},"sort_order":{"type":"integer","format":"int64","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"modify":{"type":"boolean","description":"","default":"false"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"product_bom_id":{"type":"integer","format":"int64","description":""},"component_id":{"type":"integer","format":"int64","description":""},"quantity_per_unit":{"type":"number","description":""},"sort_order":{"type":"integer","format":"int64","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"modify":{"type":"boolean","description":"","default":"false"}}}}}}}},"/products/bom/copy":{"post":{"operationId":"api_v1/products/bom/copy|POST","summary":"Copies an active BOM from one variant to another","description":"Copies an active BOM from one variant to another\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["products"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"new_bom_id":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"copy_variant":{"type":"integer","format":"int64","description":"The Shopify Variant ID (internal or external) of the source BOM"},"shopify_variant":{"type":"integer","format":"int64","description":"The Shopify Variant ID (internal or external) to assign the new BOM to"}},"required":["copy_variant","shopify_variant"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"copy_variant":{"type":"integer","format":"int64","description":"The Shopify Variant ID (internal or external) of the source BOM"},"shopify_variant":{"type":"integer","format":"int64","description":"The Shopify Variant ID (internal or external) to assign the new BOM to"}},"required":["copy_variant","shopify_variant"]}}}}}},"/products/shopify/import":{"post":{"operationId":"api_v1/products/shopify/import|POST","summary":"Syncs products and variants from Shopify Store","description":"Syncs products and variants from Shopify Store\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["products"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"synced_count":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"integer","format":"int64","description":"The internal ID of the Shopify store to sync"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"store_id":{"type":"integer","format":"int64","description":"The internal ID of the Shopify store to sync"}}}}}}}},"/products/{shopify_product_id}":{"get":{"operationId":"api_v1/products/{shopify_product_id}|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["products"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"shopify_product_id","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_store_id":{"type":"integer","format":"int64","description":""},"shopify_product_id":{"type":"integer","format":"int64","description":""},"title":{"type":"string","description":""},"handle":{"type":"string","description":""},"status":{"type":"string","description":""},"iamge_url":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"variant":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_product_id":{"type":"integer","format":"int64","description":""},"shopify_variant_id":{"type":"integer","format":"int64","description":""},"sku":{"type":"string","description":""},"title":{"type":"string","description":""},"price":{"type":"number","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"lead_time":{"type":"integer","format":"int64","description":""},"has_bom":{"type":"boolean","description":""}}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/products/{shopify_variant_id}/bom":{"post":{"operationId":"api_v1/products/{shopify_variant_id}/bom|POST","summary":"Creates a new version of a Bill of Materials (BOM) for a specific product variant, deactivates previous versions, and adds the specified components.","description":"Creates a new version of a Bill of Materials (BOM) for a specific product variant, deactivates previous versions, and adds the specified components.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["products"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"shopify_variant_id","in":"path","description":"The ID of the Shopify variant","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"notes":{"type":"string","description":"Optional notes for this BOM version"},"components":{"type":"array","items":{"type":"object","properties":{"component_id":{"type":"integer","format":"int64","description":"ID of the component"},"quantity_per_unit":{"type":"number","description":"Quantity of the component required per unit"},"sort_order":{"type":"integer","format":"int64","description":"Optional sort order for the component"}},"required":["component_id","quantity_per_unit"]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"notes":{"type":"string","description":"Optional notes for this BOM version"},"components":{"type":"array","items":{"type":"object","properties":{"component_id":{"type":"integer","format":"int64","description":"ID of the component"},"quantity_per_unit":{"type":"number","description":"Quantity of the component required per unit"},"sort_order":{"type":"integer","format":"int64","description":"Optional sort order for the component"}},"required":["component_id","quantity_per_unit"]}}}}}}}}},"/products/{variant_id}/bom":{"get":{"operationId":"api_v1/products/{variant_id}/bom|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["products"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"shopify_variant_id","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_variant_id":{"type":"integer","format":"int64","description":""},"version":{"type":"integer","format":"int64","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"notes":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"created_by_user_id":{"type":"integer","format":"int64","description":""},"deleted":{"type":"boolean","description":"","default":"false"},"bom_components":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"product_bom_id":{"type":"integer","format":"int64","description":""},"component_id":{"type":"integer","format":"int64","description":""},"quantity_per_unit":{"type":"number","description":""},"sort_order":{"type":"integer","format":"int64","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"_component":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"sku":{"type":"string","description":""},"name":{"type":"string","description":""},"description":{"type":"string","description":""},"component_group_id":{"type":"integer","format":"int64","description":""},"unit_of_measure":{"type":"string","description":""},"cost_per_unit":{"type":"number","description":""},"no_depreciate":{"type":"boolean","description":"","default":"false"},"default_location_id":{"type":"integer","format":"int64","description":""},"reorder_point":{"type":"number","description":""},"preferred_supplier":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"deleted":{"type":"boolean","description":"","default":"false"},"deleted_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"restored_at":{"type":"number","format":"timestamptz","description":"","nullable":true}}}}}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/products":{"get":{"operationId":"api_v1/products|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["products"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"search","in":"query","description":"","required":false,"schema":{"type":"string","default":""}},{"name":"has_bom","in":"query","description":"","required":false,"schema":{"type":"boolean","default":"false"}},{"name":"status","in":"query","description":"","required":false,"schema":{"type":"string","default":""}},{"name":"limit","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"offset","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"page","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"integer","format":"int64","description":""},"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"offset":{"type":"integer","format":"int64","description":""},"perPage":{"type":"integer","format":"int64","description":""},"itemsTotal":{"type":"integer","format":"int64","description":""},"pageTotal":{"type":"integer","format":"int64","description":""},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_store_id":{"type":"integer","format":"int64","description":""},"shopify_product_id":{"type":"integer","format":"int64","description":""},"title":{"type":"string","description":""},"handle":{"type":"string","description":""},"status":{"type":"string","description":""},"iamge_url":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"variant":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_product_id":{"type":"integer","format":"int64","description":""},"shopify_variant_id":{"type":"integer","format":"int64","description":""},"sku":{"type":"string","description":""},"title":{"type":"string","description":""},"price":{"type":"number","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"lead_time":{"type":"integer","format":"int64","description":""},"has_active_bom":{"type":"boolean","description":""}}}}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/purchase_orders/create_received":{"post":{"operationId":"api_v1/purchase_orders/create_received|POST","summary":"Creates a new Purchase Order with status RECEIVED and updates inventory immediately.","description":"Creates a new Purchase Order with status RECEIVED and updates inventory immediately.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["purchase_orders"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"po_number":{"type":"string","description":""},"notes":{"type":"string","description":""},"order_date":{"type":"string","format":"date","description":"","nullable":true},"delivery_date":{"type":"string","format":"date","description":"","nullable":true},"delivery_docket":{"type":"string","format":"binary","description":"","nullable":true},"supplier":{"type":"integer","format":"int64","description":""},"update_ppu":{"type":"boolean","description":"","default":"false"},"components":{"type":"array","items":{"type":"object","properties":{"component_id":{"type":"integer","format":"int64","description":""},"quantity":{"type":"number","description":""},"location_id":{"type":"integer","format":"int64","description":""},"Line_Price":{"type":"number","description":""},"Price_Per_Item":{"type":"number","description":""}},"required":["component_id","quantity"]}}},"required":["po_number","components"]}}}}}},"/purchase_orders/{order_id}":{"get":{"operationId":"api_v1/purchase_orders/{order_id}|GET","summary":"Retrieves the line items for a specific purchase order, ensuring tenant isolation.","description":"Retrieves the line items for a specific purchase order, ensuring tenant isolation.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["purchase_orders"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"order_id","in":"path","description":"The ID of the purchase order to retrieve lines for.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"updated_at":{"type":"number","format":"timestamptz","description":"Timestamp of the last update to the purchase order line item."},"tenant":{"type":"integer","format":"int64","description":"Reference to the tenant account this purchase order line belongs to."},"purchase_order":{"type":"integer","format":"int64","description":"Reference to the parent purchase order."},"component":{"type":"integer","format":"int64","description":"Reference to the component being ordered."},"quantity_ordered":{"type":"number","description":"The quantity of the component ordered."},"quantity_received":{"type":"number","description":"The quantity of the component already received."},"location":{"type":"integer","format":"int64","description":"Reference to the location where the stock will be received, for future use."},"unit_cost":{"type":"number","description":"The cost per unit of the component, for future costing."},"_component":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"sku":{"type":"string","description":""},"name":{"type":"string","description":""},"description":{"type":"string","description":""},"component_group_id":{"type":"integer","format":"int64","description":""},"unit_of_measure":{"type":"string","description":""},"cost_per_unit":{"type":"number","description":""},"no_depreciate":{"type":"boolean","description":"","default":"false"},"default_location_id":{"type":"integer","format":"int64","description":""},"reorder_point":{"type":"number","description":""},"preferred_supplier":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"deleted":{"type":"boolean","description":"","default":"false"},"deleted_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"restored_at":{"type":"number","format":"timestamptz","description":"","nullable":true}}}}}}},"purchase_order":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"updated_at":{"type":"number","format":"timestamptz","description":"Timestamp of the last update to the purchase order."},"tenant":{"type":"integer","format":"int64","description":"Reference to the tenant account this purchase order belongs to."},"created_by_user":{"type":"integer","format":"int64","description":"Reference to the user who created this purchase order."},"po_number":{"type":"string","description":"The user-entered purchase order number."},"status":{"type":"string","description":"Current status of the purchase order.","enum":["DRAFT","ORDERED","PARTIAL_RECEIVED","RECEIVED","CANCELLED"]},"notes":{"type":"string","description":"Additional notes related to the purchase order."},"order_date":{"type":"string","format":"date","description":"","nullable":true},"delivery_date":{"type":"string","format":"date","description":"","nullable":true},"suppliers_id":{"type":"integer","format":"int64","description":""},"supplier_name":{"type":"string","description":"","nullable":true},"delivery_receipt":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""},"url":{"type":"string","description":"","nullable":true}},"nullable":true}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/purchase_orders":{"get":{"operationId":"api_v1/purchase_orders|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["purchase_orders"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"purchase_orders":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"updated_at":{"type":"number","format":"timestamptz","description":"Timestamp of the last update to the purchase order."},"tenant":{"type":"integer","format":"int64","description":"Reference to the tenant account this purchase order belongs to."},"created_by_user":{"type":"integer","format":"int64","description":"Reference to the user who created this purchase order."},"po_number":{"type":"string","description":"The user-entered purchase order number."},"status":{"type":"string","description":"Current status of the purchase order.","enum":["DRAFT","ORDERED","PARTIAL_RECEIVED","RECEIVED","CANCELLED"]},"notes":{"type":"string","description":"Additional notes related to the purchase order."},"order_date":{"type":"string","format":"date","description":"","nullable":true},"delivery_date":{"type":"string","format":"date","description":"","nullable":true},"suppliers_id":{"type":"integer","format":"int64","description":""},"supplier_name":{"type":"string","description":"","nullable":true},"delivery_receipt":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""},"url":{"type":"string","description":"","nullable":true}},"nullable":true}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/reports/component_usage":{"get":{"operationId":"api_v1/reports/component_usage|GET","summary":"Retrieves a report of component usage within a date range","description":"Retrieves a report of component usage within a date range\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["reports"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"component_id","in":"query","description":"Optional component ID to filter by","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"limit","in":"query","description":"Pagination limit","required":false,"schema":{"type":"integer","format":"int64","default":"20"}},{"name":"offset","in":"query","description":"Pagination offset","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"date_from_text","in":"query","description":"","required":false,"schema":{"type":"string","default":""}},{"name":"date_to_text","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/reports/low-stock":{"get":{"operationId":"api_v1/reports/low-stock|GET","summary":"Retrieves a paginated list of inventory items where the on-hand quantity is below the reorder threshold.","description":"Retrieves a paginated list of inventory items where the on-hand quantity is below the reorder threshold.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["reports"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"location_id","in":"query","description":"Optional location ID to filter the results.","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"threshold_multiplier","in":"query","description":"Multiplier for the reorder point (default 1.0).","required":false,"schema":{"type":"number","default":"1"}},{"name":"limit","in":"query","description":"Number of items per page.","required":false,"schema":{"type":"integer","format":"int64","default":"20"}},{"name":"offset","in":"query","description":"Number of items to skip.","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"integer","format":"int64","description":""},"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"offset":{"type":"integer","format":"int64","description":""},"perPage":{"type":"integer","format":"int64","description":""},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"component_id":{"type":"integer","format":"int64","description":""},"location_id":{"type":"integer","format":"int64","description":""},"on_hand_qty":{"type":"number","description":"","nullable":true},"in_progress_qty":{"type":"number","description":""},"shipped_qty":{"type":"number","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"sku":{"type":"string","description":"","nullable":true},"name":{"type":"string","description":"","nullable":true},"location_scope":{"type":"string","description":"","nullable":true},"reorder_point":{"type":"number","description":"","nullable":true}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/reports/stocktake-variances":{"get":{"operationId":"api_v1/reports/stocktake-variances|GET","summary":"Retrieves a list of completed stocktake sessions, including variance details, with optional date and pagination filters.","description":"Retrieves a list of completed stocktake sessions, including variance details, with optional date and pagination filters.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["reports"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"date_from","in":"query","description":"The start date for filtering stocktake sessions by their completion date.","required":false,"schema":{"type":"number","format":"timestamptz","default":""}},{"name":"date_to","in":"query","description":"The end date for filtering stocktake sessions by their completion date.","required":false,"schema":{"type":"number","format":"timestamptz","default":""}},{"name":"limit","in":"query","description":"The maximum number of stocktake sessions to return per page.","required":false,"schema":{"type":"integer","format":"int64","default":"20"}},{"name":"offset","in":"query","description":"The number of records to skip for pagination purposes.","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"integer","format":"int64","description":""},"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"offset":{"type":"integer","format":"int64","description":""},"perPage":{"type":"integer","format":"int64","description":""},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"location_id":{"type":"integer","format":"int64","description":""},"name":{"type":"string","description":""},"status":{"type":"string","description":""},"started_at":{"type":"number","format":"timestamptz","description":""},"completed_at":{"type":"number","format":"timestamptz","description":""},"created_by_user_id":{"type":"integer","format":"int64","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"APPROVED":{"type":"boolean","description":"","default":"false"},"LOCKED":{"type":"boolean","description":"","default":"false"},"date_from":{"type":"string","format":"date","description":""},"_location_1":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"name":{"type":"string","description":""},"code":{"type":"string","description":""},"is_default":{"type":"boolean","description":"","default":"false"},"is_active":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""}},"nullable":true}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/settings/users/invite":{"post":{"operationId":"api_v1/settings/users/invite|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["settings"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/shopify/webhooks/orders_cancel":{"post":{"operationId":"api_v1/shopify/webhooks/orders_cancel|POST","summary":"Handles Shopify order cancellation webhooks by releasing allocated stock and updating order status.","description":"Handles Shopify order cancellation webhooks by releasing allocated stock and updating order status.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["shopify"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The Shopify Order ID from the webhook payload"}},"required":["id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"The Shopify Order ID from the webhook payload"}},"required":["id"]}}}}}},"/shopify/webhooks/orders_create_update":{"post":{"operationId":"api_v1/shopify/webhooks/orders_create_update|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["shopify"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/shopify/webhooks/orders_fulfillment":{"post":{"operationId":"api_v1/shopify/webhooks/orders_fulfillment|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["shopify"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/shopify_product/bulk-insert":{"post":{"operationId":"api_v1/shopify_product/bulk-insert|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["shopify_product"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/shopify_product/{shopify_product_id}":{"get":{"operationId":"api_v1/shopify_product/{shopify_product_id}|GET","summary":"Get shopify_product record","description":"Get shopify_product record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["shopify_product"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"shopify_product_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_store_id":{"type":"integer","format":"int64","description":""},"shopify_product_id":{"type":"integer","format":"int64","description":""},"title":{"type":"string","description":""},"handle":{"type":"string","description":""},"status":{"type":"string","description":""},"iamge_url":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/shopify_product":{"get":{"operationId":"api_v1/shopify_product|GET","summary":"Query all shopify_product records","description":"Query all shopify_product records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["shopify_product"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"shopify_store_id":{"type":"integer","format":"int64","description":""},"shopify_product_id":{"type":"integer","format":"int64","description":""},"title":{"type":"string","description":""},"handle":{"type":"string","description":""},"status":{"type":"string","description":""},"iamge_url":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/stocktake-sessions/{session_id}/approve":{"post":{"operationId":"api_v1/stocktake-sessions/{session_id}/approve|POST","summary":"Approves a stocktake session, updates inventory balances, records movements, and finalizes the session.","description":"Approves a stocktake session, updates inventory balances, records movements, and finalizes the session.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["stocktake-sessions"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","description":"The ID of the stocktake session to approve.","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/stocktake-sessions/{session_id}":{"get":{"operationId":"api_v1/stocktake-sessions/{session_id}|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["stocktake-sessions"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","description":"The ID of the stocktake session to retrieve","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"location_id":{"type":"integer","format":"int64","description":""},"name":{"type":"string","description":""},"status":{"type":"string","description":""},"started_at":{"type":"number","format":"timestamptz","description":""},"completed_at":{"type":"number","format":"timestamptz","description":""},"created_by_user_id":{"type":"integer","format":"int64","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"APPROVED":{"type":"boolean","description":"","default":"false"},"LOCKED":{"type":"boolean","description":"","default":"false"},"date_from":{"type":"string","format":"date","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"api_v1/stocktake-sessions/{session_id}|PATCH","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["stocktake-sessions"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"session_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"session":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"location_id":{"type":"integer","format":"int64","description":""},"name":{"type":"string","description":""},"status":{"type":"string","description":""},"started_at":{"type":"number","format":"timestamptz","description":""},"completed_at":{"type":"number","format":"timestamptz","description":""},"created_by_user_id":{"type":"integer","format":"int64","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"APPROVED":{"type":"boolean","description":"","default":"false"},"LOCKED":{"type":"boolean","description":"","default":"false"},"date_from":{"type":"string","format":"date","description":""}}},"line":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"line_id":{"type":"integer","format":"int64","description":""},"status":{"type":"string","description":""},"note":{"type":"string","description":""},"counted_qty":{"type":"number","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"line_id":{"type":"integer","format":"int64","description":""},"status":{"type":"string","description":""},"note":{"type":"string","description":""},"counted_qty":{"type":"number","description":""}}}}}}}},"/stocktake/create_session":{"post":{"operationId":"api_v1/stocktake/create_session|POST","summary":"Initialize a stocktake session","description":"Initialize a stocktake session\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["stocktake"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"session":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"tenant_id":{"type":"integer","format":"int64","description":""},"location_id":{"type":"integer","format":"int64","description":""},"name":{"type":"string","description":""},"status":{"type":"string","description":""},"started_at":{"type":"number","format":"timestamptz","description":""},"completed_at":{"type":"number","format":"timestamptz","description":""},"created_by_user_id":{"type":"integer","format":"int64","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"APPROVED":{"type":"boolean","description":"","default":"false"},"LOCKED":{"type":"boolean","description":"","default":"false"},"date_from":{"type":"string","format":"date","description":""}}},"lines":{"type":"object","properties":{"itemsReceived":{"type":"integer","format":"int64","description":""},"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"offset":{"type":"integer","format":"int64","description":""},"perPage":{"type":"integer","format":"int64","description":""},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"stocktake_session_id":{"type":"integer","format":"int64","description":""},"tenant_id":{"type":"integer","format":"int64","description":""},"component_id":{"type":"integer","format":"int64","description":""},"expected_qty":{"type":"number","description":""},"counted_qty":{"type":"number","description":""},"variance_qty":{"type":"number","description":"","nullable":true},"status":{"type":"string","description":""},"note":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"variance_cost":{"type":"number","description":"","nullable":true}}}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the stocktake session"},"location_id":{"type":"integer","format":"int64","description":"ID of the location to stocktake"},"filters":{"type":"object","description":"Optional filters for selecting components","nullable":true},"status":{"type":"string","description":""},"date_from":{"type":"string","format":"date","description":"","nullable":true}},"required":["name","location_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the stocktake session"},"location_id":{"type":"integer","format":"int64","description":"ID of the location to stocktake"},"filters":{"type":"object","description":"Optional filters for selecting components","nullable":true},"status":{"type":"string","description":""},"date_from":{"type":"string","format":"date","description":"","nullable":true}},"required":["name","location_id"]}}}}}},"/stocktake_sessions":{"get":{"operationId":"api_v1/stocktake_sessions|GET","summary":"Retrieves a paginated list of stocktake sessions filtered by status, location, and date range.","description":"Retrieves a paginated list of stocktake sessions filtered by status, location, and date range.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["stocktake_sessions"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"status","in":"query","description":"Filter by the status of the stocktake session","required":false,"schema":{"type":"string","default":""}},{"name":"location_id","in":"query","description":"Filter by the location ID","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"date_from","in":"query","description":"Filter for sessions started after this date","required":false,"schema":{"type":"number","format":"timestamptz","default":""}},{"name":"date_to","in":"query","description":"Filter for sessions started before this date","required":false,"schema":{"type":"number","format":"timestamptz","default":""}},{"name":"limit","in":"query","description":"The number of items to return per page","required":false,"schema":{"type":"integer","format":"int64","default":"25"}},{"name":"offset","in":"query","description":"The number of items to skip","required":false,"schema":{"type":"integer","format":"int64","default":"0"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"integer","format":"int64","description":""},"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"offset":{"type":"integer","format":"int64","description":""},"perPage":{"type":"integer","format":"int64","description":""},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"
[...]
